.form_class {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 10px;

}

.div_text_field {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    height: 350px;
    width: 320px;
    margin: 10px 0px;
}

.radio_group {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border: none;
    padding: 10px;
    width: 320px;
}

.div_radio_genero {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border-top: 1px solid #e7e7e7;
    margin: 10px 0px 0px 0px;
    padding-top: 20px;
}

.div_radio_ativo {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    margin: 10px 0px;
    padding: 10px;


}

.div_text_area {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 10px 0px;
    padding: 10px;
    height: 300px;
}

.button_send_datas {
    background-color: #98ffcc !important;
    outline: none !important;
    border: 1px solid #cfcfcf !important;
}

.label_pointer {
    cursor: pointer;
}

.error_div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 200px;
    height: 20px;
}

.error_message {
    color: #ff0000;
}