.section_edit{
    border: 1px solid #000;
    padding: 20px;
}

.div_row_list{
    border: 1px solid #000;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}